# Terraform local state
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Local zip package
lambda.zip

# Crash logs
crash.log

# Ignorar logs y archivos temporales
*.log
*.tmp
